<h4>Using suitable example, explain how to create individual stored procedures for performing – insert, update, delete, search – operations in a MySQL database table tblStudent inside the db dbStudents using Python. Show usage of these 4 stored procedures in Python. Note: consider columns: rollno, name, c_m, cpp_m, py_m. <h4></h4>

In [1]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sql = "insert into tblstudent(rollno, name, cmarks, cppmarks, pythonmarks) values (%s, %s, %s, %s, %s)"
    values=[
        (1,"Mayur",70,90,70),
        (2,"Keval",90,80,85),
        (3,"Krutik",90,60,40),
        (4,"kartik",70,40,90),
        (5,"rudrik",70,90,50),
        (6,"harsh",70,70,60),
        (7,"purnak",70,10,10),
        (8,"kris",80,80,90),
        (9,"kunal",70,50,50),
        (10,"omkar",50,80,70)
    ]
    cursor.executemany(sql,values)
    con.commit()
    print("INSERTED",cursor)
    
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

INSERTED CMySQLCursor: insert into tblstudent(rollno, name, cma..

<h5> INSERT PROCEDURE </h5>

In [2]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sql = """ create procedure Insert1(in r_no int,in s_name varchar(30),in c_m int,in cpp_m int,in py_m int)
    begin
    insert into tblstudent (rollno, name, cmarks, cppmarks, pythonmarks) values(r_no,s_name,c_m,cpp_m,py_m);
    end"""
    cursor.execute(sql)
    print("Procedure Created...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Procedure Created...

In [3]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    rno = int(input("Enter rollno : "))
    sname = input("Enter name : ")
    cmarks = int(input("Enter c marks : "))
    cppmarks = int(input("Enter cpp marks : "))
    pymarks = int(input("Enter python  marks : "))
    cursor.callproc('Insert1',(rno,sname,cmarks,cppmarks,pymarks))
    con.commit()
    print("Record Inserted...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Enter rollno :  11
Enter name :  sivaay
Enter c marks :  90
Enter cpp marks :  85
Enter python  marks :  90

Record Inserted...

<h5>UPDATE PROCEDURE</h5>

In [4]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sql = """ create procedure Update1(in r_no int,in s_name varchar(30),in c int,in cpp int,in py int)
    begin
    Update tblstudent set name = s_name,cmarks=c, cppmarks = cpp, pythonmarks = py where rollno = r_no;
    end"""
    cursor.execute(sql)
    print("Procedure Created...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Procedure Created...

In [5]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    rno = int(input("Enter rollno : "))
    sname = input("Enter name : ")
    c = int(input("Enter c marks : "))
    cpp = int(input("Enter cpp marks : "))
    py = int(input("Enter python marks : "))
    cursor.callproc('Update1',(rno,sname,c,cpp,py,))
    con.commit()
    print("Record Updated...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Enter rollno :  7
Enter name :  purnak
Enter c marks :  70
Enter cpp marks :  80
Enter python marks :  75

Record Updated...

<h5>DELETE PROCEDURE </h5>

In [16]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sql = """ create procedure Delete1(in s_name varchar(30))
    begin
    delete from tblstudent where name = s_name;
    end"""
    cursor.execute(sql)
    print("Procedure Created...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Procedure Created...

In [18]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sname = input("Enter name : ")
    cursor.callproc('Delete1',(sname,))
    con.commit()
    print("Record Deleted...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Enter name :  Devyant

Record Deleted...

<H5> SEARCH PROCEDURE </h5>

In [23]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    sql = """ create procedure SearchRec(in py_marks varchar(30))
    begin
    select * from tblstudent where pythonmarks <= py_marks;
    end"""
    cursor.execute(sql)
    print("Procedure Created...")
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Procedure Created...

In [29]:
from mysql.connector import connect,Error

try:
    con = connect(host = "localhost", user = "root", password = "jadeja6", database = "dbstudent")
    cursor = con.cursor()
    pymarks = input("Enter python marks to serch record : ")
    cursor.callproc('SearchRec',(pymarks,))
    con.commit()
    print("Records having python marks less than or equal to ",pymarks)
    for r in cursor.stored_results():
        for row in r.fetchall():
            print("*---*------*----*----*----*")
            print(row)
except Error as e:
    print(e)
finally:
    cursor.close()
    con.close()

Enter python marks to serch record :  80

Records having python marks less than or equal to  80
*---*------*----*----*----*
(1, 'Mayur', 70, 90, 70)
*---*------*----*----*----*
(3, 'Krutik', 90, 60, 40)
*---*------*----*----*----*
(5, 'rudrik', 70, 90, 50)
*---*------*----*----*----*
(6, 'harsh', 70, 70, 60)
*---*------*----*----*----*
(7, 'purnak', 70, 10, 10)
*---*------*----*----*----*
(9, 'kunal', 70, 50, 50)